* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:root {
    font-size: 20px;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', 'Sans-serif';
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

.sidebar {
    width: 70px;
    height: 100vh;
    background: #000;
    position: fixed;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    z-index: 999;
}

.sidebar:hover {
    width: 190px;
    -webkit-box-shadow: 3px 0 22px #000;
            box-shadow: 3px 0 22px #000;
}

.one,
.two,
.three{
    color: #fff;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 10%;
}

.sidebar .logo span {
    font-size: 3.9rem;
}


.logo::after {
	content: "";
    position: absolute;
    width: 60%;
    height: 4px;
    background-color: #007BFF;
}

.accordion,
.navbar,
.modal {
    font-size: 3rem;
    margin: 15% 0;
    cursor: pointer;
    overflow: hidden;
    margin-right:20px;
}

.logo span,
.accordion,
.navbar,
.modal
{
	font-weight: 400;
}

.accordion span:last-child,
.navbar span:last-child,
.modal span:last-child{
	font-size: 1.8rem;
}

.accordion::after,
.navbar::after,
.modal::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 4px;
    background-color: #fff;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    -webkit-transform-origin: bottom right;
    -ms-transform-origin: bottom right;
        transform-origin: bottom right;
    transition: -webkit-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.accordion:hover::after,
.navbar:hover::after,
.modal:hover::after {
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
        transform-origin: bottom left;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
        transform: scaleX(1);
}




.multiscroll-nav {
	position: fixed;
	right:0;
	height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
}

.multiscroll-nav li{
	font-size: 1.5rem;
	cursor: pointer;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.multiscroll-nav li:first-child {
	color:#007BFF;
}


.accordion-container,
.navbar-container,
.modal-container{
	height:100vh;
	margin-left:70px;
	background: #d9dede;
}

.flex-container{
	display: flex;
	height:100vh;
	flex-direction: column;
    justify-content: space-between;
}


.title {
	-webkit-transform: skewY(-6deg);
	    -ms-transform: skewY(-6deg);
	        transform: skewY(-6deg);
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1.95;
    height: 10vh;
    display: inline-block;
}

.title span {
	padding: 1.3rem 2rem;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#007BFF), to(#555));
    background-image: -webkit-linear-gradient(left top, #007BFF, #555);
    background-image: -o-linear-gradient(left top, #007BFF, #555);
    background-image: linear-gradient(to right bottom, #007BFF, #555);
}

.accordion-container .title,
.modal-container .title {
	 margin: 0 0 0 5vw;
}

.navbar-container .title {
	display: none;
}



#accordion{
	width:50vw;
	height:60vh;
	align-self: center;
	margin-bottom: 2%;
}

.card-header{
	height: 10vh;
	padding:3%;
	background: #fff;
    border-radius: 3px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #d0d0d0;
}

.card-body{
	display: none;
	font-size: 0.9rem;
	line-height: 1.3;
	background: #fff;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 3%;
}










#navbar {
	display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 1% 4%;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #d0cdcd;
}

#navbar ul {
	list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
}

#navbar li {
	cursor: pointer;
}

#navbar .logo {
	font-size: 2rem;
	cursor: pointer;
}
